<h1>Book List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pages</th>
      <th>Price</th>
      <th>Rating</th>
      <th>Authors</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for book in paginated_books %}
      <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.pages }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.rating|floatformat:2 }}</td>
        <td>
          {% for author in book.authors.all %}
            {{ author.name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td><a href="{% url 'book_detail' book.id %}">View Details</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3>Average Values:</h3>
<p>Average Pages: {{ average_pages.avg_pages|floatformat:2 }}</p>
<p>Average Price: {{ average_price.avg_price|floatformat:2 }}</p>
<p>Average Rating: {{ average_rating.avg_rating|floatformat:2 }}</p>

<div class="pagination">
    <span class="step-links">
        {% if paginated_books.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ paginated_books.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ paginated_books.number }} of {{ paginated_books.paginator.num_pages }}.
        </span>

        {% if paginated_books.has_next %}
            <a href="?page={{ paginated_books.next_page_number }}">next</a>
            <a href="?page={{ paginated_books.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
